<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="33"
    android:versionName="2.20"
    android:installLocation="auto"
    package="de.gaffga.android.zazentimer">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="24"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"/>
    <application
        android:theme="@style/LightZenTheme"
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:name="de.gaffga.android.zazentimer.ZazenTimerApplication"
        android:enabled="true"
        android:description="@string/app_description"
        android:allowBackup="true"
        android:fullBackupContent="true">
        <activity
            android:label="@string/app_name"
            android:name="de.gaffga.android.zazentimer.ZazenTimerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name="de.gaffga.android.zazentimer.service.MeditationService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:description="@string/service_description"/>
        <receiver
            android:name="de.gaffga.android.zazentimer.service.SectionEndReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ZAZENTIMER_SECTION_ENDED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
